* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: inherit;
}

html {
    font-size: 1.2rem;
}

@media (max-width: 60rem) {
    body {
        width: 96vw;
        height: 100vh;
        
        margin: 0 auto;
        padding: 1rem;
    
        display: grid;
        grid-template-rows: min-content 1fr;
        row-gap: 1rem;
    }
}

@media (min-width: 60rem) {
    body {
        width: 100%;
        height: 100vh;

        padding: 1rem;
    
        display: grid;
        grid-template-columns: 24rem 1fr;
        column-gap: 1rem;
    }
}

div#controls {
    height: min-content;

    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3px;
}

div#controls > button {
    grid-column: 1 / 3;
    box-shadow: 2px 2px 1px #ddd;
}

div#display {
    width: 100%;
    max-height: 100%;
}

div#display > canvas {
    max-width: 100%;
    max-height: 100%;
}